---
layout: default
title: ZE3kr
show: no
allphoto: ture
notpost: yes
nositename: yes
isvideo: yes
---

<div class="home">
	<ul class="posts">
		{% for post in paginator.posts %}
		<li class="post">
			<a class="post-date" href="{{ post.url | prepend: site.github.url | replace:'http://','//' }}"><span title="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d %Y" }}</span> {% if post.title %}<span class="post-link">{{ post.title }}</span>{% endif %}</a>
			{% if post.image %}
			<a href="{{ post.url | prepend: site.github.url | replace:'http://','//' }}">
				<img src="{{ site.photo-server-domain | replace:'http://','//' }}{{ post.image }}!1x" srcset="{{ site.photo-server-domain | replace:'http://','//' }}{{ post.image }}!2x 2x" class="img-photo" alt="{{ post.title }}" />
			</a>
			{% endif %}
			{{ post.content }}
		</li>
		{% endfor %}
	</ul>
	<div class="pagination">
		{% if paginator.previous_page %}
		<a href="{{ site.github.url | replace:'http://','//' }}{{ paginator.previous_page_path }}" class="previous" rel="prev">&larr; Previous</a>
		{% endif %}
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a href="{{ site.github.url | replace:'http://','//' }}{{ paginator.next_page_path }}" class="next" rel="next">Next &rarr;</a>
		{% endif %}
	</div>

	<p class="rss-subscribe"><a href="{{ "/archive/" | prepend: site.github.url | replace:'http://','//' }}">Archive</a></p>

</div>
