<header class="site-header" style="background-color: #f05909;">
	<div class="wrap">

		<a class="site-title" href="{{ site.github.url | replace:'http://','//' }}/index.html" rel="home">{{ site.title }}</a>

		<nav class="site-nav">
			<a id="menu-icon" href="javascript:void(0);" class="menu-icon">
				<svg class="svg-1"></svg>
			</a>

			<a id="trigger-icon" href="javascript:void(0);" class="menu-icon" style="display: none;">
				<svg class="svg-2"></svg>
			</a>
			<div class="trigger" id="trigger">
				<a class="page-link" href="/">Home</a>
				<a class="page-link" href="/about/">About</a>
			</div>
		</nav>

	</div>
</header>
