<p><center>
<a href="{{ site.photo-server-domain | replace:'http://','//' }}ze3kr/{{ page.date | date: "%Y" }}/{{ include.img }}!b" title="View big image">
<h4 style="margin-bottom: 5px; font-size:100%;">{{ include.title }}</h4>
<img src="{{ site.photo-server-domain | replace:'http://','//' }}ze3kr/{{ page.date | date: "%Y" }}/{{ include.img }}!a1x" srcset="{{ site.photo-server-domain | replace:'http://','//' }}ze3kr/{{ page.date | date: "%Y" }}/{{ include.img }}!a2x 2x" class="img-photo" alt="{{ include.title }}" style="max-height:255px;max-width: 340px;width: initial!important;"/>
</a>
</center></p>