<p>
<a href="{{ site.photo-server-domain | replace:'http://','//' }}ze3kr/{{ page.date | date: "%Y" }}/{{ include.img }}!b" title="View big image">
<h4 style="text-align: center; margin-bottom: 5px;">{{ include.title }}</h4>
	<img src="{{ site.photo-server-domain | replace:'http://','//' }}ze3kr/{{ page.date | date: "%Y" }}/{{ include.img }}!1x" srcset="{{ site.photo-server-domain | replace:'http://','//' }}ze3kr/{{ page.date | date: "%Y" }}/{{ include.img }}!2x 2x" class="img-photo" alt="{{ include.title }}"/>
</a>
</p>